h2 {
    margin-bottom: 5px;
}

#content {
    margin-top:60px;
}

#products {
    height: 580px;
    padding-bottom: 100px;
}

.product {
    text-align: center;
    border: 2px solid #e2e3e2;
    height: 100%;
    padding-top: 30px;
    width: 296px;
    border-radius: 15px;
}

.product img {
    height: 200px;
}

.product h3 {
    margin-bottom: 15px;
    padding: 0px 10px;
}

.product h3 .price {
    font-size: 13px;
    color: #b0b0b0;
}

.product div:last-child {
    margin-top: 15px;
}

#cart-table .options {
    width: 160px;
}

#cart-table .quantity,
#cart-table .price,
#cart-table .remove,
#cart-table .tax,
#cart-table .total {
    text-align: center;
}

.engraving-text-row {
    background-color: #f7f7f7;
}